<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.CiPipelineTemplateBusMapper">


    <resultMap id="DevopsPipelineTemplateMap" type="io.choerodon.devops.api.vo.template.CiTemplatePipelineVO">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="creation_date" property="creationDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_id" property="sourceId"/>
        <result column="built_in" property="builtIn"/>
        <result column="enable" property="enable"/>

        <association property="ciTemplateCategoryVO" javaType="io.choerodon.devops.api.vo.template.CiTemplateCategoryVO">
            <id column="user_id" property="id"/>
            <result column="category" property="category"/>
            <result column="source_type" property="sourceType"/>
            <result column="creation_date" property="creationDate"/>
            <result column="created_by" property="createdBy"/>
        </association>




    </resultMap>

    <select id="queryDevopsPipelineTemplateByParams" resultMap="DevopsPipelineTemplateMap">
        SELECT
            dctp.id AS id,
            dctp.NAME AS name,
            dctp.source_type AS source_type,
            dctp.built_in AS built_in,
            dctp.ENABLE AS enable,
            dctp.creation_date AS create_date,
            dctp.created_by AS create_by,
            dctc.id AS category_id,
            dctc.category AS category_name
        FROM
           devops_ci_template_pipeline dctp
        JOIN devops_ci_template_category dctc ON dctp.ci_template_category_id=dctc.id
        where 1=1
        <include refid="sqlparam"/>



    </select>

    <sql id="sqlparam">
        <if test="searchVO != null">
            <if test="searchVO.searchParam != null">
                <if test="searchVO.searchParam.templateName != null and searchVO.searchParam.templateName != ''">
                    AND dctp.name LIKE CONCAT(CONCAT('%', #{searchVO.searchParam.templateName, jdbcType=VARCHAR}), '%')
                </if>
                <if test="searchVO.searchParam.categoryName != null">
                    AND  dctc.category LIKE CONCAT(CONCAT('%', #{searchVO.searchParam.categoryName, jdbcType=VARCHAR}), '%')
                </if>
                <if test="searchVO.searchParam.builtIn != null and searchVO.searchParam.builtIn ==true">
                    AND  dctp.built_in = 1
                </if>
                <if test="searchVO.searchParam.builtIn != null and searchVO.searchParam.builtIn ==false">
                    AND  dctp.built_in = 0
                </if>
                <if test="searchVO.searchParam.enable != null != null and searchVO.searchParam.enable ==true ">
                    AND  dctp.enable = 1
                </if>
                <if test="searchVO.searchParam.enable != null != null and searchVO.searchParam.enable ==false">
                    AND  dctp.enable = 0
                </if>
                <if test="searchVO.searchParam.params != null and searchVO.searchParam.params != ''">
                    AND dctp.name LIKE CONCAT(CONCAT('%', #{searchVO.searchParam.params, jdbcType=VARCHAR}), '%')
                </if>
            </if>
        </if>
    </sql>
</mapper>