<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.CiTemplateStepBusMapper">


    <select id="queryTemplateStepByParams" resultType="io.choerodon.devops.infra.dto.CiTemplateStepDTO">
        SELECT
          *
        FROM
         devops_ci_template_step dcts
        WHERE
        dcts.source_id = #{sourceId,jdbcType=BIGINT}
        <if test="searchParam != null and searchParam != ''">
        </if>
    </select>

    <select id="queryStepTemplateByJobId" resultType="io.choerodon.devops.infra.dto.CiTemplateStepDTO">
       SELECT
	     dctc.*
       FROM
	     devops_ci_template_step dctc
	     JOIN devops_ci_template_job_step_rel dctjsr ON dctc.id = dctjsr.ci_template_step_id
       WHERE
	     dctjsr.ci_template_job_id = #{templateJobId,jdbcType=BIGINT}
	     And dctc.source_id=#{sourceId,jdbcType=BIGINT}

    </select>
</mapper>