<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.CiTemplateCategoryBusMapper">


    <select id="queryTemplateLanguagesByParams" resultType="io.choerodon.devops.infra.dto.CiTemplateLanguageDTO">
        SELECT
          *
        FROM
          devops_ci_template_language dctl
        WHERE
          dctl.source.id = #{sourceId,jdbcType=BIGINT}
        <if test="searchParam != null and searchParam != ''">

        </if>
    </select>
</mapper>