<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.CiTemplateStepCategoryBusMapper">


    <select id="queryTemplateStepCategoryByParams" resultType="io.choerodon.devops.api.vo.template.CiTemplateStepCategoryVO">
        SELECT
          dcts.*,
        (SELECT
           count( * )
         FROM
           devops_ci_template_job_step_rel dctjsr
         WHERE dctjsr.ci_template_step_id = dcts.id AND  dcts.source_id = #{sourceId,jdbcType=BIGINT} ) AS template_number
        FROM
          devops_ci_template_step dcts
        WHERE
        dcts.source_id = #{sourceId,jdbcType=BIGINT}
        <if test="searchParam != null and searchParam != ''">
            AND dctsc.`name` LIKE CONCAT(CONCAT('%', #{searchParam, jdbcType=VARCHAR}),'%')
        </if>

    </select>
</mapper>