<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.CiTemplateStepBusMapper">


    <select id="queryTemplateStepByParams" resultType="io.choerodon.devops.api.vo.template.CiTemplateStepVO">
        SELECT
          dcts.*,
          dctsc.NAME AS category_name
        FROM
          devops_ci_template_step dcts
        JOIN devops_ci_template_step_category dctsc ON dcts.category_id = dctsc.id

        WHERE
        dcts.source_id = #{sourceId,jdbcType=BIGINT}
        <if test="searchParam != null and searchParam != ''">
        </if>
    </select>

    <select id="queryStepTemplateByJobId" resultType="io.choerodon.devops.infra.dto.CiTemplateStepDTO">
       SELECT
	     dctc.*
       FROM
	     devops_ci_template_step dctc
	     JOIN devops_ci_template_job_step_rel dctjsr ON dctc.id = dctjsr.ci_template_step_id
       WHERE
	     dctjsr.ci_template_job_id = #{templateJobId,jdbcType=BIGINT}
	     And dctc.source_id=#{sourceId,jdbcType=BIGINT}

    </select>

    <delete id="deleteByIds">
        <if test="stepIds != null and stepIds.size() != 0">
            DELETE FROM devops_ci_template_step
            where id IN
            <foreach collection="stepIds" item="stepId" index="index"
                     open="(" close=")" separator=",">
                #{stepId}
            </foreach>
        </if>


    </delete>
</mapper>