<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.devops.infra.mapper.DevopsPipelineTemplateBusMapper">


    <resultMap id="DevopsPipelineTemplateMap" type="io.choerodon.devops.api.vo.template.DevopsPipelineTemplateVO">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="creation_date" property="creationDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_id" property="sourceId"/>
        <result column="built_in" property="builtIn"/>
        <result column="enable" property="enable"/>

        <association property="ciTemplateCategoryVO" javaType="io.choerodon.devops.api.vo.template.CiTemplateCategoryVO">
            <id column="user_id" property="id"/>
            <result column="language" property="language"/>
            <result column="source_type" property="sourceType"/>
            <result column="creation_date" property="creationDate"/>
            <result column="created_by" property="createdBy"/>
        </association>




    </resultMap>

    <select id="queryDevopsPipelineTemplateByParams" resultMap="DevopsPipelineTemplateMap">
        SELECT
           dpt.id AS template_id,
           dpt.name AS template_name,
           dpt.source_type AS tempate_source_type,
           dpt.built_in AS template_built_in,
           dpt.enable AS template_enable,
           dpt.creation_date AS template_create_date,
           dpt.created_by AS template_create_by,
           dctc.id AS category_id,
           dctc.category AS category_name
        FROM
           devops_pipeline_template dpt
        JOIN devops_ci_template_category dctc ON dpt.ci_template_category_id=dctc.id
        <if test="searchVO != null">
            <if test="searchVO.searchParam != null">
                <if test="searchVO.searchParam.templateName != null and searchVO.searchParam.templateName != ''">
                    AND dpt.name LIKE CONCAT(CONCAT('%',
                    #{searchVO.searchParam.templateName, jdbcType=VARCHAR}), '%')
                </if>
<!--                <if test="searchVO.searchParam.custom != null and searchVO.searchParam.custom != ''">-->
<!--                    <if test="searchVO.searchParam.custom==true">-->
<!--                        AND mc.CUSTOM=1-->
<!--                    </if>-->
<!--                    <if test="searchVO.searchParam.custom==false">-->
<!--                        AND mc.CUSTOM=0-->
<!--                    </if>-->
<!--                </if>-->
            </if>
        </if>
    </select>
</mapper>